# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Flutter
flutter/.dart_tool/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/.packages
flutter/.pub-cache/
flutter/.pub/
flutter/build/
flutter/.idea/
flutter/*.iml
flutter/.metadata
flutter/pubspec.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
